{% extends 'rang/base1.html' %}

{% load staticfiles %}


{% block title_block %}
Rango
{% endblock %}

{% block body_block %}
    <h1> Rango says .... </h1>
    <div>hey
        {% if user.is_authenticat.
        ed %}
        howdy {{user.username}}!
        {% else %}
        hey there partner!
        {% endif %}
        <br /> </div>

    <div>
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li>
            <a href = "{%url 'rango:show_category' category.slug%}">{{category.name}}</a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
        <strong> There are no categories present. </strong>
    {% endif %}
    </div>

    <div>
        <img src="{% static 'images/qjj.jpg' %}" height="500"
             alt="Picture of qijiangjun" />
    </div>

{%endblock%}