{% extends 'rang/base1.html' %}
{% load staticfiles %}

{% block title_block %}
Register of Rango
{% endblock %}



{% block body_block %}
    <h1>About Page</h1>
    {% if registered %}
        Rango says: <strong> thank you very much for registering!</strong>
        <a href="{%url 'rango:index' %}">Return to the homepage</a><br />
    {% else %}
        <a href="{%url 'rango:index' %}">Rango</a> says: <strong> register here! </strong> <br />
        <form id="user_form" method="POST" action="{%url 'rango:register' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{user_form.as_p}}
            {{profile_form.as_p}}
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}